@font-face {
  font-family: Baskerville;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/BaskervilleMTStd-Regular.otf");
}

@font-face {
  font-family: Baskerville;
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/BaskervilleMTStd-Italic.otf");
}

@font-face {
  font-family: Baskerville;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/BaskervilleMTStd-Bold.otf");
}

@font-face {
  font-family: Baskerville;
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/BaskervilleMTStd-BoldIt.otf");
}

@font-face {
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaNeueLTStd-Md.otf");
}

@font-face {
  font-family: HelveticaNeue;
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/HelveticaNeueLTStd-It.otf");
}

@font-face {
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/HelveticaNeueLTStd-Bd.otf");
}

@font-face {
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: lighter;
  src: url("../fonts/HelveticaNeueLTStd-Th.otf");
}

html, body {
  background-color: black;
  color: white;
  font-size: 12px;
  font-family: HelveticaNeue;
}

.loft-card {
  margin: 15px;
}

.loft-headers {
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.loft-headers::after {
  content: "";
  display: block;
  height: 1px;
  width: 70px;
  background-color: white;
  position: relative;
  top: 11px;
}

.loft-container.loft-home img,
.loft-container.loft-home figure {
  margin-bottom: 0;
}

.loft-bg {
  background-color: #0000003f;
}

.loft-container {
  background-color: rgb(34, 38, 47);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Baskerville, serif;
  font-style: italic;
}

h6 {
  font-family: HelveticaNeue;
  font-style: normal;
}

ul.loft-navbar {
  align-items: flex-start;
}

ul.loft-navbar a {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 0.8rem;
  padding-left: 2.0rem !important;
  padding-right: 2.0rem !important;
}

ul.loft-navbar a i.fa {
  font-size: 30px;
  color: white;
}

.carousel-caption {
  top: 50%;
  bottom: 50%;
}

ol.carousel-indicators li {
  height: 6px;
  width: 6px;
  border-radius: 3px;
}

@media (min-width: 576px) {
  html, body {
    font-size: 12px;
  }
  .loft-card {
    margin: 15px;
    padding: 0;
  }
}

@media (min-width: 768px) {
  html, body {
    font-size: 14px;
  }
  .loft-card {
    margin: 15px;
    padding: 0 15px;
  }
}

@media (min-width: 992px) {
  html, body {
    font-size: 16px;
  }
  .loft-card {
    margin: 15px 45px;
    padding: 0 15px;
  }
  ul.loft-navbar {
    align-items: center;
  }
}

@media (min-width: 1200px) {
  html, body {
    font-size: 18px;
  }
  .loft-card {
    margin: 15px 105px;
    padding: 0 15px;
  }
  .loft-headers {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .loft-headers::after {
    height: 2px;
    top: 21px;
  }
}

/*  */

@media (max-width: 1200px) {
  /* html, body {
    font-size: 24px;
  } */
}

@media (max-width: 992px) {
  /* html, body {
    font-size: 20px;
  } */
}

@media (max-width: 768px) {
  /* html, body {
    font-size: 16px;
  } */
}

@media (max-width: 576px) {
  /* html, body {
    font-size: 14px;
  } */
}



